<form action="{{ url_for('classify')}}" method="post">
    <input type="text" name="keyword" placeholder="Insira palavra-chave" required="required" />
    <input type="text" name="lang" placeholder="Insira lingua" required="required" />
    <input type="text" name="limit" placeholder="Insira limite de tweets" required="required" />
    <input type="text" name="date" placeholder="Insira a data no formato: %a %b %d %H:%M:%S %z %Y, ex.: seg ago 30 00:00:00 +0000 2021" />
    <button type="submit" class="btn">Classificar</button>
</form>
{{ classificacao }}