<form action="{{ url_for('classify')}}" method="post">
    <input type="text" name="keyword" placeholder="Insira palavra-chave" required="required" />
    <input type="text" name="lang" placeholder="Insira lingua" required="required" />
    <input type="text" name="limit" placeholder="Insira limite de tweets" required="required" />
    <input type="text" name="since" placeholder="De: (Example: 2017-12-27)" />
    <input type="text" name="until" placeholder="Até: (Example: 2017-12-27)" />
    <button type="submit" class="btn">Classificar</button>
</form>
{{ classificacao }}

<form action="{{ url_for('longtask')}}" method="post">
    <button type="submit" class="btn">Iniciar worker</button>
</form>